body {
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSobRG3VyL_q7xwnDKumzJun5kPpv_wHD2Wyw&s)
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(255, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(255, 0, 0);
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}